{% extends "task_manager_app/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Изменение задачи" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">

        <h1 class="fw-bold mb-4">
            {% trans "Изменение задачи" %}
        </h1>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-light text-dark">
                {% trans "Изменить" %}
            </button>
            <a href="{% url 'tasks_list' %}" class="btn btn-outline-light ms-2">
                {% trans "Отмена" %}
            </a>
        </form>

    </div>
</div>
{% endblock %}