{% extends "task_manager/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Вход" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">

        <h1 class="h3 fw-bold mb-4">
            {% trans "Вход" %}
        </h1>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-light w-100 text-dark">
                {% trans "Войти" %}
            </button>
        </form>

    </div>
</div>
{% endblock %}