name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-and-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: |
          source $HOME/.local/bin/env
          uv sync

      - name: Run tests with coverage
        env:
          DJANGO_SETTINGS_MODULE: task_manager.settings
        run: |
          uv run pytest --cov=. --cov-report=xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=IDarhanI_python-project-52
            -Dsonar.organization=idarhani
            -Dsonar.sources=.
            -Dsonar.tests=.
            -Dsonar.test.inclusions=**/tests.py
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.exclusions=**/migrations/**,**/__pycache__/**